<div class="col-lg-10 col-lg-offset-1">
   
    <div class="jumbotron">
        <h1 > {{title}}</h1>
        <p>Aprovecha increibles ofertas, promociones y descuentos...</p>
        <p>
           <a [routerLink]="['/mis-datos']" class="btn btn-success" role="button"> Mi Perfil</a>
           <a [routerLink]="['/timeline']" class="btn btn-primary " role="button">Inicio</a>
           <a [routerLink]="['/gente']"  class="btn btn-default" role="button"> Gente</a>
        </p>
        
    <a class="waves-effect waves-light btn">button</a>
    </div>
    
</div>
